{% extends  "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}
    <h1>Reset Password</h1>
    <p>Please, enter your new password:</p>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Change Password">
    </form>
{%else%}
    <h1>Invalid Link</h1>
    <p>The link you have used to reset your password is invalid. Please request a new password reset.</p>
    <p><a href="{% url 'account_password_reset' %}">Request a new password reset</a></p>
{%endif%}
{% endblock %}